<h1>Code With Kritika</h1>
<a routerLink="">Home</a>
<br>
<a routerLink="about">About</a>
<br>
<a routerLink="user-data">User-data</a>

<br><br>
<a routerLink="user-data/10">Ashwini</a>
<br><br>
<a routerLink="user-data/20">Kritika</a>
<br><br>
<a routerLink="user-data/30">Tanvi</a>

<router-outlet></router-outlet>

<!------------------------Service --------------------->
<hr>
<h2>Service</h2>
<ul>
    <li *ngFor="let member of arr">{{member.name}} {{member.age}}</li>
</ul>

<app-footer></app-footer>

