
<div class="data" *ngIf="products">
  <p>"id:" {{ products.id }} </p>
  <p>"title:" {{ products.title }} </p>
  <p>"description:"{{ products.description }}</p>
  <p>" price:" {{ products.price }}</p>
   <p> "discountPercentage:" {{ products.discountPercentage}}</p>
    <p> "rating:" {{products.rating}} </p>
    <p> stock: {{products.stock}} </p>
    <p>"brand:" {{products.brand}} </p>
   <p> "category:"{{products.category}} </p>
    <p>"thumbnail:" {{products.thumbnail}} </p>
    <p>"images:" {{products.images}}</p>
 
  </div>

  